body{
    text-align: center;
    background-image: url("flowers.jpg");
    background-repeat: no-repeat;
    background-size: 1450px 650px;
    background-color:#cccccc;
    /*background-color: #0a78ff;	*/
}
h1{
    margin-top: 100px;
    color:#0a78ff;
}
p{
 padding:100px 20px 100px 20px;
 margin-top: 50px;
 font-size: 25px;
 color: #ff0199;
 font-weight: bold;
}

.speech-bubble {
	position: relative;
	background: #04ffcd;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #04ffcd;
	border-right: 0;
	margin-top: -20px;
	margin-right: -20px;
}